body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; 
  color: #000; 
}

.container {
  width: 450px;
  margin: 80px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  color: #000000; 
}

h1, h2, h3, p {
  color: #000000; 
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}

.option {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000000;
}

button {
  margin-top: 15px;
  padding: 8px 18px;
  font-size: 16px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}
